nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
}

.logo img {
    width: 200px;
    height: 70px;

}

.items ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.items ul li {
    display: flex;
    align-items: center;
}

.container {
    /* display: flex; */
    justify-content: space-around;
}

.box {
    padding-top: 80px;
    font-size: xxx-large;
    font-family: system-ui;
    padding-left: 310px;
}

.content {
    padding-left: 250px;
    padding-right: 210px;
    text-align: center;
    font-family: system-ui;
}

.button-box {
    padding-left: 580px;
}

.button {
    width: 300px;
    height: 50px;
    background-color: rgb(39, 188, 204);
    color: white;
    font-size: smaller;
    font-weight: bold;
    border: none;
    border-radius: 5%;

} 